<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">About
                <strong>business casual</strong>
            </h2>
            <hr>
        </div>
        <div class="col-md-6">
            <img class="img-responsive img-border-left" src="src/images/slide-2.jpg" alt="">
        </div>
        <div class="col-md-6">
            <p>This is a great place to introduce your company or project and describe what you do.</p>
            <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                <strong>i nostri prodotti</strong>
            </h2>
            <hr>
        </div>
        <!-- pima riga -->
        <div class="col-sm-4 text-center">
            <img class="img-responsive" src="https://bitbucket.org/repo/M6xz6q/images/3085028260-pomodorini.jpg" alt="">
            <h3>pomodorini da serbo
            </h3>
        </div>
        <div class="col-sm-4 text-center">
            <img class="img-responsive" src="https://bitbucket.org/repo/M6xz6q/images/3332142724-rosmarino-prostrato.jpg" alt="">
            <h3>Rosmarino
            </h3>
        </div>
        <div class="col-sm-4 text-center">
            <img class="img-responsive" src="https://bitbucket.org/repo/M6xz6q/images/3852536935-come-fare-3-ricette-con-i-fichi-d-india-big.jpg" alt="">
            <h3>fico d'india
            </h3>
        </div>
        <!-- seconda riga -->
       <div class="col-sm-4 text-center">
            <img class="img-responsive" src="https://bitbucket.org/repo/M6xz6q/images/3085028260-pomodorini.jpg" alt="">
            <h3>pomodorini da serbo
            </h3>
        </div>
        <div class="col-sm-4 text-center">
            <img class="img-responsive" src="https://bitbucket.org/repo/M6xz6q/images/3724729353-laboratorio-didattico-le-erbe.jpg" alt="">
            <h3>Rosmarino
            </h3>
        </div>
        <div class="col-sm-4 text-center">
            <img class="img-responsive" src="https://bitbucket.org/repo/M6xz6q/images/976020485-mirto%202.jpg" alt="">
            <h3>mirto
            </h3>
        </div>
        <!-- seconda riga -->
       <div class="col-sm-4 text-center">
            <img class="img-responsive" src="https://bitbucket.org/repo/M6xz6q/images/3085028260-pomodorini.jpg" alt="">
            <h3>pomodorini da serbo
            </h3>
        </div>
        <div class="col-sm-4 text-center">
            <img class="img-responsive" src="https://bitbucket.org/repo/M6xz6q/images/3724729353-laboratorio-didattico-le-erbe.jpg" alt="">
            <h3>Rosmarino
            </h3>
        </div>
        <!-- terza riga -->
        <div class="col-sm-4 text-center">
            <img class="img-responsive" src="https://bitbucket.org/repo/M6xz6q/images/1753310085-mirto.jpg" alt="">
            <h3>mirto
            </h3>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
