<div class="row">
    <div class="box">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d938.5136484720456!2d8.759810000000002!3d39.685508!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12dd8a31e5f8e6bb%3A0xaeb234a686e6b313!2sAzienda+Agricola+Roberta+Grussu!5e1!3m2!1sit!2sit!4v1421428844566" width="100%" height="450" frameborder="0" style="border:0"></iframe>
    </div>
</div>
